.course-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin:0;
}

.instructor {
    margin: 0;
    font-style: italic;
    font-size:0.8rem;
}

.room {
    margin:0;
    font-size:1rem;
    font-variant: small-caps;
}

td>span {
    margin:0;
    float:right;
    font-size: 0.4rem;
}

td:hover {
    background-color: rgba(0, 255, 136, 0.8);
    cursor: pointer;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}
